a {
  text-decoration: none;
}

#calbar div {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px black;
  float: left;
}

div.month {
  height: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

div.focus {
  background-color: blue;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: default;
}

.blue {
  background-color: blue;
  color: white;
}