body {
  margin: 0;
}

#header {
  width: 100%;
}

#header table {
  width: 100%;
}

#contents {
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 10px;
}

#footer {
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#footer a {
  width: 100%;
  color: white;
}

a {
  text-decoration: none;
}

#calbar table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}

#calbar td {
  padding: 0;
}

#calbar div {
  margin: 0;
}

#calbar img {
  margin-top: 4px;
  margin-right: 2px;
  margin-left: 2px;
}

div.month {
  border: solid 1px gray;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

div.focus {
  font-size: 20px;
  font-weight: bold;
  background-color: blue;
  color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: default;
}

.blue {
  background-color: blue;
  color: white;
}

.lightblue {
  background-color: lightblue;
}

.darkgray {
  background-color: darkgray;
}

.dimgray {
  background-color: dimgray;
}

#calendar table {
  border-spacing: 0;
  border-collapse: collapse;
  margin-right: auto;
  margin-left: auto;
}

#calendar th {
  background-color: lightgray;
  border: solid 1px gray;
  width: 80px;
}

#calendar td {
  height: 80px;
  border: solid 1px gray;
  vertical-align: top;
}

.day {
  font-weight: bold;
}

.saturday {
  color: darkblue;
}

.sunday {
  color: red;
}

.nogame {
  color: gray;
}

.game {
  cursor: pointer;
}

.center {
  text-align: center;
}